
  
    input[type="button"] 
    { 
    
    color: black; 
 background-color: chartreuse;  
    width:100% 
    } 

    input[type="text"] 
    { 
    background-color:white; 
    
    width:100% 
    } 